$wtf: #2D2241;
$bgcolor: white;
$btext: rgba(0, 0, 0, 0.7);
$titlecolor: rgb(156, 104, 130);
$pink: rgb(189, 129, 159);
$borderFormEls: hsl(0, 0%, 10%);
$bgFormEls: hsl(0, 0%, 14%);
$bgFormElsFocus: hsl(0, 7%, 20%);
$white: #afafaf;