@import "~normalize.css";

@import "_variables";

@import "modules/gallery.scss";
@import "modules/contact.scss";
@import "modules/lightbox.scss";
@import "modules/portfolio.scss";
@import "modules/quotes.scss";
@import "modules/titles.scss";
@import "modules/navbar.scss";
@import "modules/footer.scss";




@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");



* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: "Ibarra Real Nova", serif;


  @media (max-width: 786px) {
    overflow-x: hidden;
  }
}

body {
  background-color: $bgcolor;
}


.about {
  background-color: $bgcolor;
  color: $btext;
  align-items: center;

  @media (max-width: 500px) {
    padding-bottom: 20px;
  }
}

header {
  background-color: black;
}

.portrait--small {
  padding-top: 70px;
  width: 600px;
  border-bottom: 5px double;

  @media (max-width: 500px) {
    width: 300px;
    padding: 0;
  }
}

.portrait__main--small {
  padding-top: 70px;
  width: 600px;
  border-bottom: 5px double;

  @media (max-width: 500px) {
    width: 300px;

    margin-left: 15px;
    margin-right: auto;



  }
}


.lead__about {
  margin: 0 auto;
  text-align: center;
  align-items: center;
  padding-top: 150px;
  height: auto;
  font-size: 1vw;
  text-align: justify;
  background-color: $bgcolor;

  @media (max-width: 500px) {
    font-size: 13px;
    max-width: 350px;
    padding-top: 50px;
  }
}

.right__side__about,
.left__side__about {
  padding-top: 50px;
  text-align: center;
  align-items: center;
  font-size: 1vw;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 25px;
  text-align: justify;
  background-color: $bgcolor;

  @media (max-width: 500px) {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 0;
    width: 300px;
  }
}

.right__side,
.left__side {
  text-align: center;
  align-items: center;
  font-size: 1vw;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: justify;

  @media (max-width: 500px) {
    padding-left: 0px;
    padding-bottom: 10px;
    padding-top: 0;
    width: 300px;
  }
}

.aboutme {
  margin: 0 auto;
}

.right__side__about {
  margin: 0 auto;

  @media (max-width: 500px) {
    padding-bottom: 50px;
    padding-top: 0;
    width: 400px;
  }
}


.mainpage {
  border-radius: 50%;
  max-height: 400px;
  width: auto;
}


.parallax {
  min-height: 70vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-image: url("../assets/img/background1.png");

  @media (max-width: 750px) {
    background-attachment: inherit !important;
    min-height: 20vh;
  }
}


.parallax2 {
  min-height: 70vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-image: url("../assets/img/portfolio/8.jpg");

  @media (max-width: 786px) {
    background-attachment: inherit !important;
    min-height: 35vh;

  }
}


.portrait {
  width: 600px;
  height: auto;
  padding-top: 150px;
  border-bottom: double 5px rgba(0, 0, 0, 0.5);

  @media (max-width: 786px) {
    width: 300px;
    font-size: 13px;
    overflow-x: hidden;
    padding-top: 50px;
    margin: 0 auto;
    justify-content: center;
    margin-left: 50px;
  }
}

.thanks {
  padding: 150px 50px 150px 50px;
  opacity: 1;
}